




<div class="container">
  <div class="row justify-content-md-center">
    <div class="site-head">
                <span class="title">
                    <h1>Portfolio Balancer (Alpha)!!</h1>
                </span>
    </div>
  </div>
  <div class="row">
    <span class="horizontal-line rounded"> &nbsp; </span>
  </div>

  <div class="row main-table">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"> Symbol </th>
        <th scope="col"> Current Price </th>
        <th scope="col"> Quantity </th>
        <th scope="col"> Value </th>
        <th scope="col"> Current Allocation </th>
        <th scope="col"> Future Allocation </th>
        <th scope="col"> Changes Needed </th>
        <th scope="col"> <span class="fa fa-adjust"></span> </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stock of stocks">
        <th scope="row">
          <input #stockSymbolInput class="form-control pb-form-control-sm" placeholder="Symbol" [(ngModel)]="stock.symbol" >
        </th>
        <td>
          <label> {{ stock.price }}</label>
        </td>
        <td>
          <label>{{ stock.quantity }}</label>
        </td>
        <td>
          <input #stockValueInput class="form-control pb-form-control-sm" placeholder="00" type="number" [(ngModel)]="stock.value" >
        </td>
        <td>
          <label> {{ stock.currentAllocation | percent }} </label>
        </td>
        <td>
          <input #futureAllocationinput class="form-control pb-form-control-sm" placeholder="0%" type="number" [(ngModel)]="stock.futureAllocation" >
        </td>
        <td>
          <label> {{ stock.changesNeeded | currency }} </label>
        </td>
        <td> <i class="fas fa-minus-circle" role="button" (click)="removeStock(stock.symbol)" ></i> </td>
      </tr>

      <tr>
        <th scope="row">

        </th>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
          Add new stock
        </td>
        <td> <i class="fas fa-plus-circle" role="button" (click)="addStock()" ></i> </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="row totals-div">
    <div class="col">
      <div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" (click)="performCalculations()"> Calculate </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          Total Present Value:
        </div>
        <div class="col-md-3">
          {{ totalPresentValue | currency }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          New Addition:
        </div>
        <div class="col-md-3">
          <input #newAdditionInput class="form-control pb-form-control-md" type="number" placeholder="0.0" [(ngModel)]="newAddition" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          Cash Takeout:
        </div>
        <div class="col-md-3">
          <input #cashTakeoutInput class="form-control pb-form-control-md" type="number" placeholder="0.0" [(ngModel)]="cashTakeout" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          -------------------------------------------------------------------------
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          Total New Value:
        </div>
        <div class="col-md-3">
          {{ totalFutureValue | currency}}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col validation-errors">
          {{ validationErrors }}
        </div>
      </div>
    </div>
  </div>


</div>


